* {box-sizing: border-box;}

.bo{
background:#eaeaea;
color:#666666;
font-family:Veranda,Arial;
background-image:linear-gradient(#ffffff, slateblue);
}

.header{

text-align: center;

background-repeat: no-repeat;
background-position: right ;
font-family:'Courier New', Courier, monospace;
font-size: 3em;
color:purple;
line-height: 200%;
margin-bottom: .5%;
}

.h1{text-align: center;
font-size: 3em;
letter-spacing: 0.25em;
padding-top: .2em;
padding-bottom: .2em;
}


.nav2{
background-color: #5e0071;
text-align: center;
padding-top: .5em;
padding-bottom: .5em;
}

.h2{color:#5e0071;
font-family:Georgia;
font-weight:800;
font-family: 'Courier New', Courier, monospace;
}

.maintext{
color:purple;
font-family:Georgia;
}
.footer{

font:.70em italic;
text-align:center;

margin-left: 170px;
}

.wrapper{ 

    box-shadow:black 3px 3px;
    
   width:80%;
   margin-right:auto;
   margin-left:auto;
   min-width: 960px;
   max-width: 2048px;
   background-image:linear-gradient(#a281dc,#ffff0096 );
   }


.h3{
font-family: "Sofia", sans-serif;
text-align: center;
font-size: 40px;

}

.main{
padding-left:2em;
padding-right: 2em;
display: block;
background-color: #ffffff;
margin-left: 100px;
margin-right: 100px;
overflow: auto;
}

#homepage{
height:  300px;
padding-left: 20px;
margin-left: 170px;
background-image:url(hha.jpg) ;
background-size: 80% 100% ;
background-repeat: no-repeat; 
   
}

.g1{
    height:  300px;
    
    padding-left: 20px;
    margin-left: 170px;
    background-image:url(bhha.jpg) ;
    background-size: 80% 100% ;
    background-repeat: no-repeat; 
}
.g2{
    height:  300px;
    padding-left: 20px;
    margin-left: 170px;
    background-image:url(ns1.jpg) ;
    background-size: 80% 100% ;
    background-repeat: no-repeat; 
}

.g3{
    height:  300px;
    padding-left: 20px;
    margin-left: 170px;
    background-image:url(ns2.jpg) ;
    background-size: 80% 100% ;
    background-repeat: no-repeat; 
}
.g4{
    height:  300px;
padding-left: 20px;
margin-left: 170px;
background-image:url(ns3.jpg) ;
background-size: 80% 100% ;
background-repeat: no-repeat; 
}



.homepic{
height: 300px; 
padding-left:20px ;
margin-left: 170px;
background-image:url(hha2.jpg) ;
background-size: 80% 100%;
background-repeat: no-repeat;
}

#hha{float: right;
height: 300px;
margin-left: 170px;
background-image: url(hha.jpg);
background-size:100% 100%;
background-repeat: no-repeat;
}


img{
height: 50%;
width: 200px;;
}

input{
    width: 300px;
    background-color: wheat;
}

textarea{
    width: 300px;
    height: 150px;
}


nav:hover{
color: wheat;

}

nav a:link{
  
    color:wheat;
    }
    
    nav a:visited{
  
    color: #ffff0096;
    }
    
    nav a:hover{
   
    color: wheat;
    }    

nav ul{list-style-type:none;
padding-left: 1em;

}

.section{
float: left;
width: 33%;
padding-left: 2em;
padding-right: 2em;
}

header a:link{
color:white;
text-decoration: none;
}

header a:visited{
text-decoration: none;
}

header a:hover{
color: wheat;
text-decoration: none;
}

a:hover{
color:rgb(174, 180, 8);
}
.h3{
font-size: medium;
text-align: left;
}

table, th, td {
    border: 1px solid;
  }

.ttop{color: yellow;
background-color: purple;
}

